@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');
@font-face {
    font-family:  'Cordel';
    src: url(../fontes/cordel_encarnado/Cordel\ Encarnado.otf) format('opentype'), url(../fontes/cordel_encarnado/Cordel\ Encarnado\ II.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Cordel', sans-serif;
    --fonte3: 'Sriracha', cursive;

    --cor01: rgb(253, 217, 58);
    --cor02: rgb(237, 213, 105);
    --cor-footer: rgb(220, 184, 25);
    --cor-back-img: rgba(237, 213, 105, 0.741);
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-image: linear-gradient(to bottom, var(--cor01),var(--cor02));
    background-color: rgb(220, 184, 25);
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
    text-shadow: 5px 5px 0px black;
}

header > p {
    text-shadow: 1px 1px 0px black;
    padding-bottom: 50px;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    
}

header a:hover {
    text-decoration: underline;
    text-shadow: none;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 10px;
    transition-duration: 0.1s;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 3.5vw;
    font-weight: bold;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: var(--cor02);
    color: black;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.214);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.475);
    background-attachment: fixed;
}

section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
    background-size: cover;
    
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: var(--cor-back-img);
    border-radius: 10px;
    color: black;
    font-weight: bolder;
   
}

footer {
    background-color: var(--cor-footer);
    color: black;
    font-weight: bolder;
    font-size: 0.8em;
    text-align: center;
    padding: 10px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    text-shadow: 1px 1px 0px black;
}

footer a:hover {
    text-decoration: underline;
    text-shadow: none;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 10px;
    transition-duration: 0.1s;
    
}