@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: "iDroid";
    src: url(../fontes/idroid.otf) format(opentype);
    font-weight: normal;

}


/* CRIANDO VARIAVEIS
colocar 2 traços e o nome da variável
para cores, por exemmplo:

:root {
    --cor01: #c5ebd6;
    --cor02: #83e1ad;
    --cor03: #3ddc84;
    --cor04: #2fa866;
    --cor05: #1a5c37;
}

é bom para se precisar alterar no futuro, só precisa mudar o root
*/

:root {
    --cor00: #c5ebd6;
    --cor01: #83e1ad;
    --cor02: #3ddc84;
    --cor03: #2fa866;
    --cor04: #1a5c37;
    --cor05: #063d1e;
    
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-iDroid: 'iDroid', 'cursive';
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor01);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor01), var(--cor05));
    width: 100%;
    height: 150px;
}

header > h1 {
    color: white;   
    font-family: var(--fonte-destaque);
    text-align: center;
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 16px;
    text-align: center;
    color: lightgray;
}

nav {
    background-color: var(--cor05);
    padding: 3px;
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
    }

nav > a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    padding: 10px;
    margin-right: 15%;
    margin-left: 15%;
}

main h1 {
    color: var(--cor03);
    font-family: var(--fonte-iDroid);
}

main h2 {
    background-image: linear-gradient(to right, var(--cor01), white);
    color: var(--cor03);
    font-family: var(--fonte-iDroid);
}


article {
    text-align: justify;
    
}

footer {
    background-color: var(--cor05);
    color: white;
}



/*background-image: linear-gradient(to bottom, #84E1AD, #1A5C38);*/